config SOC_SERIES_STM32F4
    bool
    select ARCH_ARM_CORTEX_M4
    default n

config SOC_STM32F4XX
    bool
    select SOC_FAMILY_STM32
    select SOC_SERIES_STM32F4
    default n

config SOC_STM32F429xx
    bool
    select SOC_FAMILY_STM32
    select SOC_SERIES_STM32F4
    default n

config SOC_STM32F407xx
    bool
    select SOC_FAMILY_STM32
    select SOC_SERIES_STM32F4
    default n

config SOC_STM32F405xx
    bool
    select SOC_FAMILY_STM32
    select SOC_SERIES_STM32F4
    default n

config SOC_STM32F469xx
    bool
    select SOC_FAMILY_STM32
    select SOC_SERIES_STM32F4
    default n