mainmenu "One-Os Configuration"

#Define the relative path to root directory of os code
OS_ROOT=../..
SRC_HAL=hc

config BOARD_HC32L1
    bool
	select SOC_HC32L176KATA
    default y
	
source "$OS_ROOT/Kconfig"
