menu "Drivers"
    config OS_USING_DEVICE
        bool "Enable device manager"
        default y

    source "$OS_ROOT/drivers/hal/Kconfig"
    source "$OS_ROOT/drivers/audio/Kconfig"    
    source "$OS_ROOT/drivers/misc/Kconfig"
    source "$OS_ROOT/drivers/pin/Kconfig"
    source "$OS_ROOT/drivers/serial/Kconfig"
    source "$OS_ROOT/drivers/watchdog/Kconfig"
    source "$OS_ROOT/drivers/rtc/Kconfig"
    source "$OS_ROOT/drivers/can/Kconfig"
    source "$OS_ROOT/drivers/i2c/Kconfig"
    source "$OS_ROOT/drivers/spi/Kconfig"
    source "$OS_ROOT/drivers/fal/Kconfig"
    source "$OS_ROOT/drivers/rtt/Kconfig"
    source "$OS_ROOT/drivers/timer/Kconfig"
    source "$OS_ROOT/drivers/hwcrypto/Kconfig"
    source "$OS_ROOT/drivers/sdio/Kconfig"
    source "$OS_ROOT/drivers/wlan/Kconfig"
    source "$OS_ROOT/drivers/graphic/Kconfig"
    source "$OS_ROOT/drivers/touch/Kconfig"
    source "$OS_ROOT/drivers/sensors/Kconfig"
    source "$OS_ROOT/drivers/usb/Kconfig"
    source "$OS_ROOT/drivers/infrared/Kconfig"
    source "$OS_ROOT/drivers/lpmgr/Kconfig"
    source "$OS_ROOT/drivers/nand/Kconfig"
    source "$OS_ROOT/drivers/driver_test/Kconfig"
endmenu
