config BSP_USING_PIN
	bool "pin"
	default n

menuconfig BSP_USING_UART
	bool "Enable UART"
	default y
	select OS_USING_SERIAL
	if BSP_USING_UART
		config OS_USING_USART0
			bool "Enable UART0"
			default y

		config OS_USING_USART1
			bool "Enable UART1"
			default y
	endif

config BSP_USING_I2C
	bool "i2c"
	default n

if BSP_USING_I2C
	config BSP_USING_I2C0
		bool "i2c0"
		default n

	config BSP_USING_I2C1
		bool "i2c1"
		default n
endif

menu "Select SPI port"
	depends on OS_USING_SPI
	config BSP_USING_SPI0
		bool "Enable SPI0"
		default y

	config BSP_USING_SPI1
		bool "Enable SPI1"
		default n
endmenu

config BSP_USING_FLASH
	bool "on chip flash"
	default n	
