config SOC_FAMILY_GD32
    bool
    default n

config SOC_FAMILY_GD32F4XX
    bool
    default n
	
source "$OS_ROOT/drivers/hal/gd/GD32F30x_HAL/Kconfig"
source "$OS_ROOT/drivers/hal/gd/GD32F4xx_HAL/Kconfig"

if SOC_FAMILY_GD32
source "$OS_ROOT/drivers/hal/gd/drivers/Kconfig"
endif

if SOC_FAMILY_GD32F4XX
source "$OS_ROOT/drivers/hal/gd/drivers_4xx/Kconfig"
endif

