menu "Molink"

config NET_USING_MOLINK
    bool "Enable IoT modules support"
    default n

if NET_USING_MOLINK

    source "$OS_ROOT/components/net/molink/core/Kconfig"

    source "$OS_ROOT/components/net/molink/module/Kconfig"

    source "$OS_ROOT/components/net/molink/parser/Kconfig"

    source "$OS_ROOT/components/net/molink/api/Kconfig"

endif

endmenu 
